.App {
  text-align: center;
  background-color: #f1f1f1;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 0px;
}

.Portfolio {
  height: 300px;
  padding:3px;
}

Portfolio:hover {
    background-blend-mode: multiply;
    background-color: grey;
}

/* Grace Chen */
.App-title {
  font-size: 10em;
  color: white;
  font-family:sans-serif;
  text-align: left;
  line-height: 50px;

}

.Intro {
  font-size: large;
  font-weight: bold;
  padding-top: 70px;
  padding-left:32%;
  padding-right: 32%;
  font-family:monospace;
  line-height: 1.5;

}
.body
{
  padding-left:30%;
  padding-right: 30%;
  font-size: large;
  font-family:monospace;
  padding-bottom: 70px;
  line-height: 1.4;

  /*Courier New, monospace;*/
}

.Contact {
  font-size: large;
  font-weight: bold;
  padding-top: 20px;
  font-family:monospace;
  line-height: 1.5;

}
.contact
{
  padding-left:30%;
  padding-right: 30%;
  font-size: large;
  font-family:monospace;
  line-height: 1.4;
  color: black;

  /*Courier New, monospace;*/
}

.App-header {
  background-blend-mode: multiply;
  background-image: url("./profile/IMG_2270.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 854px;
  padding-top: 200px;
  color: white;
}

/* About me */
.App-header2 {
  background-blend-mode: multiply;
  background-image: url("./profile/IMG_1818.jpg");
  background-color: #FFE4C4;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  padding-top: 300px;
  color: white;
  font-size: 5em;
}

/* Portfolio */
.App-header3 {
  background-image: url("./profile/IMG_9381.jpg");
  background-blend-mode: multiply;
  background-color: #ffc9a1;

  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  padding-top: 200px;
  color: white;
  font-size: 5em;
}

/* contact */
.App-header4 {
  background-image: url("./profile/IMG_0458.jpg");
  background-blend-mode: multiply;
  background-color: 	#FFE4C4;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  padding-top: 200px;
  color: white;
  font-size: 5em;
}

.App-header5 {
  background-image: url("./profile/IMG_8175.jpeg");
  background-blend-mode: multiply;
  background-color: 	#FFE4C4;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  padding-top: 200px;
  color: white;
  font-size: 5em;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: #f8b01c;
}

.egg {
  height:100px;
}
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

/* Navigation Bar */
  ul {
      list-style-type: none;
      margin: 0;
      padding-top: 30px;
      overflow: hidden;
      position: fixed;
      bottom:10px;
      background-color: #f8be41;
      height:8%;
      width: 100%;
      text-align: center;
  }

  li {
      display: inline;
  }

  li a {
      color: white;
      text-align: center;
      padding: 15px 15px;
      text-decoration: none;
  }

footer {
  background-color: #f8be41;
  height:100px;
}

  /* li a:hover {
      background-color: black;
  }
  <header className="App-header5">
    <h2 className="heading">
      <a name="projects"></a>
      PROJECTS
    </h2>
  </header>
  */

/* #D29683
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
