.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 0px;
}

.Portfolio {
  height: 300px;
  padding:3px;
}

Portfolio:hover {
    background-blend-mode: multiply;
    background-color: grey;
}

/* Grace Chen */
.App-title {
  font-size: 10em;
  color: white;
  font-family:sans-serif;
}

.Intro {
  font-size: large;
  font-weight: bold;
  padding-top: 70px;
  padding-left:32%;
  padding-right: 32%;
  font-family:monospace;
  line-height: 1.5;

}
.body
{
  padding-left:30%;
  padding-right: 30%;
  font-size: large;
  font-family:monospace;
  padding-bottom: 70px;
  line-height: 1.4;

  /*Courier New, monospace;*/
}

.Contact {
  font-size: large;
  font-weight: bold;
  padding-top: 20px;
  font-family:monospace;
  line-height: 1.5;

}
.contact
{
  padding-left:30%;
  padding-right: 30%;
  font-size: large;
  font-family:monospace;
  line-height: 1.4;

  /*Courier New, monospace;*/
}

.App-header {
  background-blend-mode: multiply;
  background-image: url("./profile/IMG_1398 2.JPG");
  background-color: lightgrey;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;;
  background-repeat: no-repeat;
  height: 854px;
  padding-top: 200px;
  color: white;
}

/* About me */
.App-header2 {
  background-blend-mode: multiply;
  background-image: url("./profile/IMG_9381.jpg");
  background-color: #ffc9a1;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  padding-top: 300px;
  color: white;
  font-size: 5em;
}

/* Portfolio */
.App-header3 {
  background-image: url("./profile/IMG_1577.jpg");
  background-blend-mode: multiply;
  background-color: #F5F5DC;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  padding-top: 200px;
  color: white;
  font-size: 5em;
}

body {
  background-color: f1f1f1;
}
/* contact */
.App-header4 {
  background-image: url("./profile/IMG_0458.jpg");
  background-blend-mode: multiply;
  background-color: 	#FFE4C4;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  padding-top: 200px;
  color: white;
  font-size: 5em;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: salmon;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

/* Navigation Bar */
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      position: fixed;
      bottom:25px;
      left:35%;
  }

  li {
      display: inline;
  }

  li a {
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

footer {
  background-color: salmon;
  height:100px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;;
  background-repeat: no-repeat;
}
  /* li a:hover {
      background-color: black;
  } */

/* #D29683
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
